<style>
    .win {
        position: fixed;
        border: 1px solid black;
    }

    .win-title {
        background: #83d7f8;
    }
</style>

<div class="win">
    <div class="win-title">{{title}}</div>
    {{> @partial-block}}
</div>