<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <!--bootstrap相关-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li {{#compare nav '==' 'open-courses'}}class="active"{{/compare}}><a href="/admin/open-courses">公开课</a></li>
            <li {{#compare nav '==' 'vip-courses'}}class="active"{{/compare}}><a href="/admin/vip-courses">VIP</a></li>
        </ul>

        <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li><a href="#">Link</a></li>-->
            <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
                <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="#">Action</a></li>-->
                    <!--<li><a href="#">Another action</a></li>-->
                    <!--<li><a href="#">Something else here</a></li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</ul>-->
    </div><!-- /.navbar-collapse -->
</nav>

{{{body}}}

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
{{{block 'jquery'}}}
</body>
</html>
